In [1]:
import os
import numpy as np
import pandas as pd
import rapidminer

rm = rapidminer.Studio("C:\Program Files\RapidMiner\RapidMiner Studio")

### EXPLORING

In [2]:
df = rapidminer.Project().read(r'C:\Users\ajain46\OneDrive\JAGUAR LAND ROVER\Network Excellence Reporting & Analytics - NERA Data Repository\Processed Data\NERA RapidMiner Repository\Evo_4_CE & Tech\Data\All Course Enrolments.rmhdf5table')

In [3]:
df.isna().any()

Brand                                         False
Business Region                               False
Market                                        False
Sub Market                                    False
Country                                       False
CustomerServiceMapping                         True
AddressIDExcellence                            True
CI Code                                       False
Retailer Name                                  True
BusUnitType                                   False
BusUnitSubType                                False
Town                                           True
Retailer Status                               False
PIN                                           False
First Name                                    False
Surname                                       False
Email                                          True
Job Role                                      False
Excellence Level                              False
Target Level                                  False
Certification Achieved Date                    True
Certification Expiry Date                      True
IsFastTrack                                    True
EmpStatus                                     False
Job Role Start Date                           False
Job Role End Date                              True
JobRoleActiveInactive                         False
UserStatus                                    False
UserSubStatus                                 False
Last Login Date                                True
Franchise Country                              True
Distributor CI Code of Main Retailer           True
Franchise CI Code of Main Retailer             True
FranchiseCategory                              True
Address ID                                     True
Address Latitude                               True
Address Longitude                              True
APO Retailer                                   True
Battery Electric Vehicle Sales                 True
Distributor CI Code                            True
Franchise CI Code                              True
Franchise Status                               True
Franchise Trading Title                        True
Franchise Type                                 True
IsMerged                                      False
IsPrimary                                     False
JLR Number                                     True
Plug-In Hybrid Electric Vehicle Sales          True
Retailer Group                                 True
ServiceÂ Traction Battery Repair Enabled        True
Service Traction Battery Repair Restricted     True
SVO                                            True
dtype: bool

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2689280 entries, 0 to 2689279
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   Course Code       category
 1   PIN               category
 2   Asset Type        category
 3   CourseTitle       category
 4   Enrolment Status  category
 5   Duration          float64
 6   Start Date        datetime64[ns]
 7   Completed Date    datetime64[ns]
 8   Course Date       datetime64[ns]
dtypes: category(5), datetime64[ns](3), float64(1)
memory usage: 112.9 MB

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:

df.values

In [ ]:
df.columns

In [ ]:
df.index

### SORTING (NULTIPLE)

In [ ]:
df.sort_values(["Country","Brand"],ascending=[True,False])

### SUBSETTING

In [ ]:
df1= df[["PIN","Excellence Level", "Country", "BusUnitType", "CI Code" , "Retailer Name","AddressIDExcellence","Country","Brand"]]

In [ ]:
def new_func():
    df1= df[["PIN","Excellence Level", "Country", "BusUnitType", "CI Code" , "Retailer Name","AddressIDExcellence","Country","Brand"]]
    return df1

df1 = new_func()
df1

In [ ]:
df[["Country","Brand"]]

In [ ]:
df[df["Country"]=="UK"]

In [ ]:
df[df["Country"] , df["Brand"].isin(['Jaguar','Land Rover'])]

In [ ]:
df = df[df["Country"].isin(["Uk","Europe"])]

In [ ]:
df[(df["PIN"].isin(["934567", "720751", "519667"])) & (df["AddressIDExcellence"] == 'AD_464057')].sort_values(by="PIN")

In [ ]:
df[["Brand","Excellence Level","PIN","JobRoleActiveInactive"]].query('PIN=="962437" and JobRoleActiveInactive == "Active"')

### ADDING NEW COLUMN

In [ ]:
df["country_Brand"] = df["Country"] + df["Brand"]

In [ ]:
df["country_Brand"]

### GROUPBY

In [ ]:
df1.groupby("Brand")["PIN"].agg([max])

In [ ]:
df1.groupby("Country")["PIN"].max()

In [ ]:
df1.groupby(["Country","Market"])["PIN","Address ID"].agg(max)

### PIVOT TABLE

In [ ]:
df1.pivot_table(index="Brand", columns="Excellence Level")

In [ ]:
df.set_index(["Country","Market"])

### SLICING , LOC , ILOC

In [ ]:
df1.Country[:10]

In [ ]:
df1

In [ ]:
df1_srt= df1.set_index("PIN").sort_index()
df1_srt

In [ ]:
df1_srt.loc["004938": "003651", :"AddressIDExcellence" ] # Rows and columns

In [ ]:
df1_srt.iloc[1:5,1:3]

In [ ]:
df1_srt.loc["004938":"003651"]

### DICTIONARY

In [82]:
mydict = {"Name" : ["ADITYA"],
"Surname" : ["JAIN"]}

newdf= pd.DataFrame(mydict)
newdf

     Name Surname
0  ADITYA    JAIN