In [77]:
import os
import numpy as np
import pandas as pd
import rapidminer

rm = rapidminer.Studio("C:\Program Files\RapidMiner\RapidMiner Studio")

### EXPLORING

In [ ]:
df = rapidminer.Project().read(r'C:\Users\ajain46\OneDrive\JAGUAR LAND ROVER\Network Excellence Reporting & Analytics - NERA Data Repository\Processed Data\NERA RapidMiner Repository\Evo_2_Users\Data\16_ExcellenceUsersActiveAsNewOrgWithFimsFields.rmhdf5table')

In [ ]:
df.isna().any()

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:

df.values

In [ ]:
df.columns

In [ ]:
df.index

### SORTING (NULTIPLE)

In [ ]:
df.sort_values(["Country","Brand"],ascending=[True,False])

### SUBSETTING

In [ ]:
df1= df[["PIN","Excellence Level", "Country", "BusUnitType", "CI Code" , "Retailer Name","AddressIDExcellence","Country","Brand"]]

In [ ]:
def new_func():
    df1= df[["PIN","Excellence Level", "Country", "BusUnitType", "CI Code" , "Retailer Name","AddressIDExcellence","Country","Brand"]]
    return df1

df1 = new_func()
df1

In [ ]:
df[["Country","Brand"]]

In [ ]:
df[df["Country"]=="UK"]

In [ ]:
df[df["Country"] , df["Brand"].isin(['Jaguar','Land Rover'])]

In [ ]:
df = df[df["Country"].isin(["Uk","Europe"])]

In [ ]:
df[(df["PIN"].isin(["934567", "720751", "519667"])) & (df["AddressIDExcellence"] == 'AD_464057')].sort_values(by="PIN")

In [ ]:
df[["Brand","Excellence Level","PIN","JobRoleActiveInactive"]].query('PIN=="962437" and JobRoleActiveInactive == "Active"')

### ADDING NEW COLUMN

In [ ]:
df["country_Brand"] = df["Country"] + df["Brand"]

In [ ]:
df["country_Brand"]

### GROUPBY

In [ ]:
df1.groupby("Brand")["PIN"].agg([max])

In [ ]:
df1.groupby("Country")["PIN"].max()

In [ ]:
df1.groupby(["Country","Market"])["PIN","Address ID"].agg(max)

### PIVOT TABLE

In [ ]:
df1.pivot_table(index="Brand", columns="Excellence Level")

In [ ]:
df.set_index(["Country","Market"])

### SLICING , LOC , ILOC

In [ ]:
df1.Country[:10]

In [ ]:
df1

In [ ]:
df1_srt= df1.set_index("PIN").sort_index()
df1_srt

In [ ]:
df1_srt.loc["004938": "003651", :"AddressIDExcellence" ] # Rows and columns

In [ ]:
df1_srt.iloc[1:5,1:3]

In [ ]:
df1_srt.loc["004938":"003651"]

### DICTIONARY

In [82]:
mydict = {"Name" : ["ADITYA"],
"Surname" : ["JAIN"]}

newdf= pd.DataFrame(mydict)
newdf

     Name Surname
0  ADITYA    JAIN