In [44]:
import os
import numpy as np
import pandas as pd
import rapidminer

rm = rapidminer.Studio("C:\Program Files\RapidMiner\RapidMiner Studio")

### EXPLORING

In [45]:
df = pd.read_excel(r"C:\Users\ajain46\OneDrive\JAGUAR LAND ROVER\Network Excellence Reporting & Analytics - NERA Data Repository\Reference Data\Evo_Bodyshop Dashboard\Data\Raw User Data Example.xlsx")

c:\Users\ajain46\Anaconda3\envs\NERA\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106458 entries, 0 to 106457
Data columns (total 38 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Brand                       106458 non-null  object
 1   Business Region             106458 non-null  object
 2   Market                      106458 non-null  object
 3   Evo Market                  106458 non-null  object
 4   Sub Market                  106458 non-null  object
 5   Country                     106458 non-null  object
 6   Franchise Type              106458 non-null  object
 7   Address ID                  106458 non-null  object
 8   CI Code                     106458 non-null  object
 9   Bodyshop Name               106458 non-null  object
 10  Classification              105918 non-null  object
 11  Job Role                    106458 non-null  object
 12  Certified Level             106458 non-null  float64
 13  Target Level                106458 non-null  object
 14  L3 Certified Date           28241 non-null   object
 15  L3 Expiry Date              32037 non-null   object
 16  L4 Certified Date           19288 non-null   object
 17  L4 Expiry Date              22766 non-null   object
 18  PIN                         106458 non-null  int64
 19  First Name                  106458 non-null  object
 20  Surname                     106458 non-null  object
 21  Job Role Start Date         106458 non-null  object
 22  Course Type                 106458 non-null  object
 23  Course Date                 54186 non-null   datetime64[ns]
 24  Enrolment Status            106458 non-null  object
 25  Course Requirement          106458 non-null  object
 26  Core or Choice              106458 non-null  object
 27  Course Code                 106458 non-null  object
 28  Course Title                106458 non-null  object
 29  LJ Level                    106458 non-null  object
 30  LJ Course Order             0 non-null       float64
 31  Enrol Count                 106458 non-null  float64
 32  Total Completed LJ Courses  105756 non-null  float64
 33  Total LJ Courses            105756 non-null  float64
 34  L3 RAG                      32037 non-null   object
 35  L4 RAG                      22766 non-null   object
 36  Mandated Courses            106458 non-null  float64
 37  Mandated Completed          106458 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(29)
memory usage: 30.9+ MB

In [ ]:
df2 = pd.read_excel(r"C:\Users\ajain46\OneDrive\JAGUAR LAND ROVER\Network Excellence Reporting & Analytics - NERA Data Repository\Reference Data\Evo_Bodyshop Dashboard\Data\Raw User Data Example.xlsx")

In [47]:
df.shape

(106458, 38)

In [48]:
df.describe()

,Certified Level,PIN,LJ Course Order,Enrol Count,Total Completed LJ Courses,Total LJ Courses,Mandated Courses,Mandated Completed
count,106458.000000,1.064580e+05,0.0,106458.000000,105756.000000,105756.000000,106458.0,106458.000000
mean,1.367732,7.161431e+07,NaN,0.497304,5.601290,12.260609,4.0,2.661397
std,1.524584,2.094323e+08,NaN,0.494118,3.947387,2.368442,0.0,1.452555
min,0.000000,1.130000e+02,NaN,0.000000,0.000000,10.000000,4.0,0.000000
25%,0.000000,2.617790e+05,NaN,0.000000,3.000000,10.000000,4.0,2.000000
50%,1.000000,5.958180e+05,NaN,0.500000,6.000000,13.000000,4.0,3.000000
75%,2.000000,9.182710e+05,NaN,1.000000,8.000000,13.000000,4.0,4.000000
max,4.000000,9.993814e+08,NaN,1.000000,16.000000,16.000000,4.0,4.000000

In [ ]:

df.values

In [ ]:
df.columns

In [ ]:
df.index

### SORTING (NULTIPLE)

In [50]:
df.sort_values(["Country","Brand"],ascending=[True,False])

,Brand,Business Region,Market,Evo Market,Sub Market,Country,Franchise Type,Address ID,CI Code,Bodyshop Name,...,Course Title,LJ Level,LJ Course Order,Enrol Count,Total Completed LJ Courses,Total LJ Courses,L3 RAG,L4 RAG,Mandated Courses,Mandated Completed
5632,Land Rover,Europe,EIM,European Importer Markets,Adria,Albania,Authorised Bodyshop,AD_26201,M015174001,Mektrin Motors Bodyshop,...,FOUNDATION SKILLS,Optional,NaN,0.0,5.0,16.0,NaN,NaN,4.0,2.0
5634,Land Rover,Europe,EIM,European Importer Markets,Adria,Albania,Authorised Bodyshop,AD_26201,M015174001,Mektrin Motors Bodyshop,...,MET BASIC ELECTRICS,Optional,NaN,0.0,5.0,16.0,NaN,NaN,4.0,2.0
5636,Land Rover,Europe,EIM,European Importer Markets,Adria,Albania,Authorised Bodyshop,AD_26201,M015174001,Mektrin Motors Bodyshop,...,PRINCIPLES OF ELECTRICS - BODYSHOP,Optional,NaN,0.0,5.0,16.0,NaN,NaN,4.0,2.0
5638,Land Rover,Europe,EIM,European Importer Markets,Adria,Albania,Authorised Bodyshop,AD_26201,M015174001,Mektrin Motors Bodyshop,...,INTERIOR AND EXTERIOR TRIM,Optional,NaN,0.0,5.0,16.0,NaN,NaN,4.0,2.0
5640,Land Rover,Europe,EIM,European Importer Markets,Adria,Albania,Authorised Bodyshop,AD_26201,M015174001,Mektrin Motors Bodyshop,...,MET MECHANICAL,Optional,NaN,0.0,5.0,16.0,NaN,NaN,4.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74251,Jaguar,Overseas,APIO,Asia,Asia Pacific Importers,Vietnam,Authorised Bodyshop,AD_886295,J112870020,Phu Thai Mobility Ho Chi Minh,...,WELD TRAINING ALUMINIUM,Level 5,NaN,0.0,5.0,10.0,Red,NaN,4.0,2.0
74254,Jaguar,Overseas,APIO,Asia,Asia Pacific Importers,Vietnam,Authorised Bodyshop,AD_886295,J112870020,Phu Thai Mobility Ho Chi Minh,...,ALUMINIUM REPAIR - COSMETIC,Level 5,NaN,1.0,3.0,10.0,NaN,NaN,4.0,2.0
74255,Jaguar,Overseas,APIO,Asia,Asia Pacific Importers,Vietnam,Authorised Bodyshop,AD_886295,J112870020,Phu Thai Mobility Ho Chi Minh,...,ALUMINIUM REPAIR - COSMETIC,Level 5,NaN,1.0,5.0,10.0,Red,NaN,4.0,2.0
74258,Jaguar,Overseas,APIO,Asia,Asia Pacific Importers,Vietnam,Authorised Bodyshop,AD_886295,J112870020,Phu Thai Mobility Ho Chi Minh,...,ALUMINIUM REPAIR - COSMETIC,Level 5,NaN,0.0,3.0,10.0,NaN,NaN,4.0,2.0
74259,Jaguar,Overseas,APIO,Asia,Asia Pacific Importers,Vietnam,Authorised Bodyshop,AD_886295,J112870020,Phu Thai Mobility Ho Chi Minh,...,ALUMINIUM REPAIR - COSMETIC,Level 5,NaN,0.0,5.0,10.0,Red,NaN,4.0,2.0

### SUBSETTING

In [7]:
df[["Country","Brand"]]

       Country       Brand
0       France      Jaguar
1       France      Jaguar
2       France  Land Rover
3       France      Jaguar
4       France      Jaguar
...        ...         ...
105865      UK      Jaguar
105866      UK      Jaguar
105867      UK      Jaguar
105868      UK  Land Rover
105869      UK  Land Rover

[105870 rows x 2 columns]

In [15]:
df[df["Country"]=="UK"]

,Brand,Business Region,Market,Evo Market,Sub Market,Country,Franchise Type,Address ID,CI Code,Bodyshop Name,...,Course Title,LJ Level,LJ Course Order,Enrol Count,Total Completed LJ Courses,Total LJ Courses,L3 RAG,L4 RAG,Mandated Courses,Mandated Completed
0,Jaguar,Europe,France,France,France,UK,Authorised Bodyshop,AD_0002,J957705069,Carrosserie Garage D'Attoma,...,FOUNDATION SKILLS,Optional,NaN,0.0,0.0,16.0,NaN,NaN,4.0,0.0
1,Jaguar,Europe,France,France,France,UK,Authorised Bodyshop,AD_0002,J957705069,Carrosserie Garage D'Attoma,...,FOUNDATION SKILLS,Optional,NaN,0.0,0.0,16.0,NaN,NaN,4.0,0.0
2,Land Rover,Europe,France,France,France,UK,Authorised Bodyshop,AD_0002,M2194G6069,Carrosserie Garage D'Attoma,...,FOUNDATION SKILLS,Optional,NaN,0.0,0.0,16.0,NaN,NaN,4.0,0.0
3,Jaguar,Europe,France,France,France,UK,Authorised Bodyshop,AD_0002,J957705069,Carrosserie Garage D'Attoma,...,MET BASIC ELECTRICS,Optional,NaN,0.0,0.0,16.0,NaN,NaN,4.0,0.0
4,Jaguar,Europe,France,France,France,UK,Authorised Bodyshop,AD_0002,J957705069,Carrosserie Garage D'Attoma,...,MET BASIC ELECTRICS,Optional,NaN,0.0,0.0,16.0,NaN,NaN,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105865,Jaguar,UK,UK,UK,UK,UK,Authorised Bodyshop,AD_25882,J2060J0676,XL Accident Repair Centre,...,ALUMINIUM REPAIR - COSMETIC,Level 5,NaN,1.0,6.0,10.0,Green,Red,4.0,2.0
105866,Jaguar,UK,UK,UK,UK,UK,Authorised Bodyshop,AD_25882,J2060J0676,XL Accident Repair Centre,...,ALUMINIUM REPAIR - COSMETIC,Level 5,NaN,1.0,4.0,10.0,Red,Red,4.0,2.0
105867,Jaguar,UK,UK,UK,UK,UK,Authorised Bodyshop,AD_25882,J2060J0676,XL Accident Repair Centre,...,ALUMINIUM REPAIR - COSMETIC,Level 5,NaN,1.0,10.0,10.0,Green,Green,4.0,2.0
105868,Land Rover,UK,UK,UK,UK,UK,Authorised Bodyshop,AD_25882,M2400H0704,XL Accident Repair Centre,...,ALUMINIUM REPAIR - COSMETIC,Level 5,NaN,1.0,6.0,10.0,Green,Red,4.0,2.0
105869,Land Rover,UK,UK,UK,UK,UK,Authorised Bodyshop,AD_25882,M2400H0704,XL Accident Repair Centre,...,ALUMINIUM REPAIR - COSMETIC,Level 5,NaN,1.0,4.0,10.0,Red,Red,4.0,2.0

In [64]:
df[(df["Country"]) & (df["Brand"].isin(['Jaguar','Land Rover']))]

TypeError: unsupported operand type(s) for &: 'str' and 'bool'

In [56]:
df3 = df[df["Country"].isin(["Uk","Europe"])]

In [57]:
df3

Empty DataFrame
Columns: [Brand, Business Region, Market, Evo Market, Sub Market, Country, Franchise Type, Address ID, CI Code, Bodyshop Name, Classification, Job Role, Certified Level, Target Level, L3 Certified Date, L3 Expiry Date, L4 Certified Date, L4 Expiry Date, PIN, First Name, Surname, Job Role Start Date, Course Type, Course Date, Enrolment Status, Course Requirement, Core or Choice, Course Code, Course Title, LJ Level, LJ Course Order, Enrol Count, Total Completed LJ Courses, Total LJ Courses, L3 RAG, L4 RAG, Mandated Courses, Mandated Completed, country_Brand]
Index: []

[0 rows x 39 columns]

### ADDING NEW COLUMN

In [52]:
df["country_Brand"] = df["Country"] + df["Brand"]

In [22]:
df["country_Brand"]

0             UKJaguar
1             UKJaguar
2         UKLand Rover
3             UKJaguar
4             UKJaguar
              ...
105865        UKJaguar
105866        UKJaguar
105867        UKJaguar
105868    UKLand Rover
105869    UKLand Rover
Name: country_Brand, Length: 105870, dtype: object

### GROUPBY

In [53]:
df.groupby("Country")["PIN"].agg([max])

                  max
Country
Albania        568655
Australia      996120
Austria       1295476
Azerbaijan     663730
Bahrain        973383
...               ...
U.A.E          987062
UK             999216
USA         999381369
Ukraine        553572
Vietnam        958737

[68 rows x 1 columns]

In [41]:
df.groupby(["Country","Market"])["PIN","Address ID"].agg(max)

c:\Users\ajain46\Anaconda3\envs\NERA\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                             PIN Address ID
Country Market
UK      APIO             1943124  AD_886295
        Australia         996120  AD_951966
        Austria          1295476  AD_666348
        Belgium          1797445    AD_9498
        Canada         991676115  AD_301379
        China            1980661  AD_993362
        EIM               992351    AD_9097
        France           1937690  AD_746495
        Germany          1424660  AD_966221
        India            1710853  AD_684202
        Italy            1963123  AD_989988
        Japan            1854796  AD_794186
        Korea            1671652  AD_900679
        MENA             1999121  AD_613285
        Netherlands      1120206  AD_790551
        Portugal          878961   AD_26347
        SSA               563301   AD_24372
        South Africa     1983239  AD_858307
        Spain            1685061  AD_939348
        Taiwan           1962113    AD_5138
        UK                999216  AD_980990
        United States  999381369  AD_988194

### PIVOT TABLE

In [54]:
df.pivot_table(values="PIN",index="Country", margins=True)

                     PIN
Country
Albania     4.105584e+05
Australia   5.323270e+05
Austria     6.011837e+05
Azerbaijan  3.569592e+05
Bahrain     5.410824e+05
...                  ...
UK          3.482901e+05
USA         5.316999e+08
Ukraine     2.550500e+05
Vietnam     5.411273e+05
All         7.161431e+07

[69 rows x 1 columns]

In [66]:
df.set_index(["Country","Market"])

                     Brand Business Region Evo Market Sub Market  \
Country Market
France  France      Jaguar          Europe     France     France
        France      Jaguar          Europe     France     France
        France  Land Rover          Europe     France     France
        France      Jaguar          Europe     France     France
        France      Jaguar          Europe     France     France
...                    ...             ...        ...        ...
UK      UK          Jaguar              UK         UK         UK
        UK          Jaguar              UK         UK         UK
        UK          Jaguar              UK         UK         UK
        UK      Land Rover              UK         UK         UK
        UK      Land Rover              UK         UK         UK

                     Franchise Type Address ID     CI Code  \
Country Market
France  France  Authorised Bodyshop    AD_0002  J957705069
        France  Authorised Bodyshop    AD_0002  J957705069
        France  Authorised Bodyshop    AD_0002  M2194G6069
        France  Authorised Bodyshop    AD_0002  J957705069
        France  Authorised Bodyshop    AD_0002  J957705069
...                             ...        ...         ...
UK      UK      Authorised Bodyshop   AD_25882  J2060J0676
        UK      Authorised Bodyshop   AD_25882  J2060J0676
        UK      Authorised Bodyshop   AD_25882  J2060J0676
        UK      Authorised Bodyshop   AD_25882  M2400H0704
        UK      Authorised Bodyshop   AD_25882  M2400H0704

                              Bodyshop Name                Classification  \
Country Market
France  France  Carrosserie Garage D'Attoma  Structural Bodyshop Facility
        France  Carrosserie Garage D'Attoma  Structural Bodyshop Facility
        France  Carrosserie Garage D'Attoma  Structural Bodyshop Facility
        France  Carrosserie Garage D'Attoma  Structural Bodyshop Facility
        France  Carrosserie Garage D'Attoma  Structural Bodyshop Facility
...                                     ...                           ...
UK      UK        XL Accident Repair Centre  Structural Bodyshop Facility
        UK        XL Accident Repair Centre  Structural Bodyshop Facility
        UK        XL Accident Repair Centre  Structural Bodyshop Facility
        UK        XL Accident Repair Centre  Structural Bodyshop Facility
        UK        XL Accident Repair Centre  Structural Bodyshop Facility

                                 Job Role  ...  LJ Level LJ Course Order  \
Country Market                             ...
France  France    Bodyshop MET Technician  ...  Optional             NaN
        France    Bodyshop MET Technician  ...  Optional             NaN
        France    Bodyshop MET Technician  ...  Optional             NaN
        France    Bodyshop MET Technician  ...  Optional             NaN
        France    Bodyshop MET Technician  ...  Optional             NaN
...                                   ...  ...       ...             ...
UK      UK      Bodyshop Panel Technician  ...   Level 5             NaN
        UK      Bodyshop Panel Technician  ...   Level 5             NaN
        UK      Bodyshop Panel Technician  ...   Level 5             NaN
        UK      Bodyshop Panel Technician  ...   Level 5             NaN
        UK      Bodyshop Panel Technician  ...   Level 5             NaN

               Enrol Count Total Completed LJ Courses Total LJ Courses L3 RAG  \
Country Market
France  France         0.0                        0.0             16.0    NaN
        France         0.0                        0.0             16.0    NaN
        France         0.0                        0.0             16.0    NaN
        France         0.0                        0.0             16.0    NaN
        France         0.0                        0.0             16.0    NaN
...                    ...                        ...              ...    ...
UK      UK             1.0                        6.0             10.0  Green
        UK             1.0                        4.0             10.0    Red
        UK             1.0                       10.0             10.0  Green
        UK             1.0                        6.0             10.0  Green
        UK             1.0                        4.0             10.0    Red

                L4 RAG Mandated Courses Mandated Completed     country_Brand
Country Market
France  France     NaN              4.0                0.0      FranceJaguar
        France     NaN              4.0                0.0      FranceJaguar
        France     NaN              4.0                0.0  FranceLand Rover
        France     NaN              4.0                0.0      FranceJaguar
        France     NaN              4.0                0.0      FranceJaguar
...                ...              ...                ...               ...
UK      UK         Red              4.0                2.0          UKJaguar
        UK         Red              4.0                2.0          UKJaguar
        UK       Green              4.0                2.0          UKJaguar
        UK         Red              4.0                2.0      UKLand Rover
        UK         Red              4.0                2.0      UKLand Rover

[106458 rows x 37 columns]