In [1]:
import os
import numpy as np
import pandas as pd
import rapidminer

rm = rapidminer.Studio("C:\Program Files\RapidMiner\RapidMiner Studio")

### EXPLORING

In [7]:
df = rapidminer.Project().read(r'C:\Users\ajain46\OneDrive\JAGUAR LAND ROVER\Network Excellence Reporting & Analytics - NERA Data Repository\Processed Data\NERA RapidMiner Repository\Evo_2_Users\Data\3_Users.rmhdf5table')

c:\Users\ajain46\Anaconda3\envs\NERA\lib\site-packages\rapidminer\core\project.py:121: H5pyDeprecationWarning: Using astype() as a context manager is deprecated. Slice the returned object instead, like: ds.astype(np.int32)[:10]
  with x.astype('int64'):

In [3]:
df.isna().any()

Course Code         False
PIN                 False
Asset Type          False
CourseTitle         False
Enrolment Status    False
Duration             True
Start Date           True
Completed Date       True
Course Date         False
dtype: bool

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708984 entries, 0 to 2708983
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   Course Code       category
 1   PIN               category
 2   Asset Type        category
 3   CourseTitle       category
 4   Enrolment Status  category
 5   Duration          float64
 6   Start Date        datetime64[ns]
 7   Completed Date    datetime64[ns]
 8   Course Date       datetime64[ns]
dtypes: category(5), datetime64[ns](3), float64(1)
memory usage: 113.7 MB

In [ ]:
df.shape

In [5]:
df.describe()

            Duration
count  361371.000000
mean       10.891801
std         9.074530
min         0.000000
25%         8.000000
50%         8.000000
75%        16.000000
max       168.000000

In [ ]:

df.values

In [ ]:
df.columns

In [ ]:
df.index

### SORTING (NULTIPLE)

In [6]:
df.sort_values(["Country","Brand"],ascending=[True,False])

KeyError: 'Country'

### SUBSETTING

In [ ]:
df1= df[["PIN","Excellence Level", "Country", "BusUnitType", "CI Code" , "Retailer Name","AddressIDExcellence","Country","Brand"]]

In [ ]:
def new_func():
    df1= df[["PIN","Excellence Level", "Country", "BusUnitType", "CI Code" , "Retailer Name","AddressIDExcellence","Country","Brand"]]
    return df1

df1 = new_func()
df1

In [ ]:
df[["Country","Brand"]]

In [ ]:
df[df["Country"]=="UK"]

In [ ]:
df[df["Country"] , df["Brand"].isin(['Jaguar','Land Rover'])]

In [ ]:
df = df[df["Country"].isin(["Uk","Europe"])]

In [ ]:
df[(df["PIN"].isin(["934567", "720751", "519667"])) & (df["AddressIDExcellence"] == 'AD_464057')].sort_values(by="PIN")

In [ ]:
df[["Brand","Excellence Level","PIN","JobRoleActiveInactive"]].query('PIN=="962437" and JobRoleActiveInactive == "Active"')

### ADDING NEW COLUMN

In [ ]:
df["country_Brand"] = df["Country"] + df["Brand"]

In [ ]:
df["country_Brand"]

### GROUPBY

In [ ]:
df1.groupby("Brand")["PIN"].agg([max])

In [ ]:
df1.groupby("Country")["PIN"].max()

In [ ]:
df1.groupby(["Country","Market"])["PIN","Address ID"].agg(max)

### PIVOT TABLE

In [ ]:
df1.pivot_table(index="Brand", columns="Excellence Level")

In [ ]:
df.set_index(["Country","Market"])

### SLICING , LOC , ILOC

In [ ]:
df1.Country[:10]

In [ ]:
df1

In [ ]:
df1_srt= df1.set_index("PIN").sort_index()
df1_srt

In [ ]:
df1_srt.loc["004938": "003651", :"AddressIDExcellence" ] # Rows and columns

In [ ]:
df1_srt.iloc[1:5,1:3]

In [ ]:
df1_srt.loc["004938":"003651"]

### DICTIONARY

In [82]:
mydict = {"Name" : ["ADITYA"],
"Surname" : ["JAIN"]}

newdf= pd.DataFrame(mydict)
newdf

     Name Surname
0  ADITYA    JAIN