In [7]:
import os
import numpy as np
import pandas as pd
import rapidminer

rm = rapidminer.Studio("C:\Program Files\RapidMiner\RapidMiner Studio")

In [4]:
df = pd.read_excel(r"C:\Users\ajain46\OneDrive\JAGUAR LAND ROVER\Network Excellence Reporting & Analytics - NERA Data Repository\Reference Data\Evo_Bodyshop Dashboard\Data\Raw User Data Example.xlsx")

c:\Users\ajain46\Anaconda3\envs\NERA\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105870 entries, 0 to 105869
Data columns (total 38 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Brand                       105870 non-null  object
 1   Business Region             105870 non-null  object
 2   Market                      105870 non-null  object
 3   Evo Market                  105870 non-null  object
 4   Sub Market                  105870 non-null  object
 5   Country                     105870 non-null  object
 6   Franchise Type              105870 non-null  object
 7   Address ID                  105870 non-null  object
 8   CI Code                     105870 non-null  object
 9   Bodyshop Name               105870 non-null  object
 10  Classification              105330 non-null  object
 11  Job Role                    105870 non-null  object
 12  Certified Level             105870 non-null  float64
 13  Target Level                105870 non-null  object
 14  L3 Certified Date           27735 non-null   datetime64[ns]
 15  L3 Expiry Date              31399 non-null   datetime64[ns]
 16  L4 Certified Date           18939 non-null   datetime64[ns]
 17  L4 Expiry Date              22347 non-null   datetime64[ns]
 18  PIN                         105870 non-null  int64
 19  First Name                  105870 non-null  object
 20  Surname                     105870 non-null  object
 21  Job Role Start Date         105870 non-null  object
 22  Course Type                 105870 non-null  object
 23  Course Date                 53226 non-null   datetime64[ns]
 24  Enrolment Status            105870 non-null  object
 25  Course Requirement          105870 non-null  object
 26  Core or Choice              105870 non-null  object
 27  Course Code                 105870 non-null  object
 28  Course Title                105870 non-null  object
 29  LJ Level                    105870 non-null  object
 30  LJ Course Order             0 non-null       float64
 31  Enrol Count                 105870 non-null  float64
 32  Total Completed LJ Courses  105176 non-null  float64
 33  Total LJ Courses            105176 non-null  float64
 34  L3 RAG                      31399 non-null   object
 35  L4 RAG                      22347 non-null   object
 36  Mandated Courses            105870 non-null  float64
 37  Mandated Completed          105870 non-null  float64
dtypes: datetime64[ns](5), float64(7), int64(1), object(25)
memory usage: 30.7+ MB

In [9]:
df2 = pd.read_excel(r"C:\Users\ajain46\OneDrive\JAGUAR LAND ROVER\Network Excellence Reporting & Analytics - NERA Data Repository\Reference Data\Evo_Bodyshop Dashboard\Data\Raw User Data Example.xlsx")

c:\Users\ajain46\Anaconda3\envs\NERA\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105870 entries, 0 to 105869
Data columns (total 38 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Brand                       105870 non-null  object
 1   Business Region             105870 non-null  object
 2   Market                      105870 non-null  object
 3   Evo Market                  105870 non-null  object
 4   Sub Market                  105870 non-null  object
 5   Country                     105870 non-null  object
 6   Franchise Type              105870 non-null  object
 7   Address ID                  105870 non-null  object
 8   CI Code                     105870 non-null  object
 9   Bodyshop Name               105870 non-null  object
 10  Classification              105330 non-null  object
 11  Job Role                    105870 non-null  object
 12  Certified Level             105870 non-null  float64
 13  Target Level                105870 non-null  object
 14  L3 Certified Date           28128 non-null   datetime64[ns]
 15  L3 Expiry Date              28128 non-null   datetime64[ns]
 16  L4 Certified Date           19020 non-null   datetime64[ns]
 17  L4 Expiry Date              19020 non-null   datetime64[ns]
 18  PIN                         105870 non-null  int64
 19  First Name                  105870 non-null  object
 20  Surname                     105870 non-null  object
 21  Job Role Start Date         105870 non-null  object
 22  Course Type                 105870 non-null  object
 23  Course Date                 53226 non-null   datetime64[ns]
 24  Enrolment Status            105870 non-null  object
 25  Course Requirement          105870 non-null  object
 26  Core or Choice              105870 non-null  object
 27  Course Code                 105870 non-null  object
 28  Course Title                105870 non-null  object
 29  LJ Level                    105870 non-null  object
 30  LJ Course Order             0 non-null       float64
 31  Enrol Count                 105870 non-null  float64
 32  Total Completed LJ Courses  105176 non-null  float64
 33  Total LJ Courses            105176 non-null  float64
 34  L3 RAG                      28128 non-null   object
 35  L4 RAG                      19020 non-null   object
 36  Mandated Courses            105870 non-null  float64
 37  Mandated Completed          105870 non-null  float64
dtypes: datetime64[ns](5), float64(7), int64(1), object(25)
memory usage: 30.7+ MB