In [1]:
import os
import numpy as np
import pandas as pd
import rapidminer

rm = rapidminer.Studio("C:\Program Files\RapidMiner\RapidMiner Studio")

### Reading file

In [3]:
df = rapidminer.Project().read(r'C:\Users\ajain46\OneDrive\JAGUAR LAND ROVER\Network Excellence Reporting & Analytics - NERA Data Repository\Processed Data\NERA RapidMiner Repository\Evo_2_Users\Data\16_ExcellenceUsersActiveAsNewOrgWithFimsFields.rmhdf5table')

c:\Users\ajain46\Anaconda3\envs\NERA\lib\site-packages\rapidminer\core\project.py:121: H5pyDeprecationWarning: Using astype() as a context manager is deprecated. Slice the returned object instead, like: ds.astype(np.int32)[:10]
  with x.astype('int64'):

In [9]:
df.describe()

,IsFastTrack,Address Latitude,Address Longitude,IsMerged,IsPrimary
count,190415.000000,216807.000000,216807.000000,238856.0,238856.000000
mean,0.008686,33.711819,20.988395,0.0,0.864245
std,0.092795,21.350345,77.604550,0.0,0.342529
min,0.000000,-45.891300,-157.906620,0.0,0.000000
25%,0.000000,29.336110,-6.806090,0.0,1.000000
50%,0.000000,38.634240,8.726730,0.0,1.000000
75%,0.000000,48.708000,106.814250,0.0,1.000000
max,1.000000,69.684500,176.906820,0.0,1.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238856 entries, 0 to 238855
Data columns (total 52 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Brand                                       238856 non-null  category
 1   Business Region                             238856 non-null  category
 2   Market                                      238856 non-null  category
 3   Sub Market                                  238856 non-null  category
 4   Country                                     238856 non-null  category
 5   CustomerServiceMapping                      238221 non-null  category
 6   AddressIDExcellence                         218262 non-null  category
 7   CI Code                                     238856 non-null  category
 8   Retailer Name                               238855 non-null  category
 9   BusUnitType                                 238856 non-null  category
 10  BusUnitSubType                              238856 non-null  category
 11  Town                                        230413 non-null  category
 12  Retailer Status                             238856 non-null  category
 13  PIN                                         238856 non-null  category
 14  First Name                                  238856 non-null  category
 15  Surname                                     238856 non-null  category
 16  Email                                       238850 non-null  category
 17  Job Role                                    238856 non-null  category
 18  Excellence Level                            238793 non-null  category
 19  Target Level                                238793 non-null  category
 20  Certification Achieved Date                 145924 non-null  datetime64[ns]
 21  Certification Expiry Date                   18494 non-null   datetime64[ns]
 22  IsFastTrack                                 190415 non-null  float64
 23  EmpStatus                                   238856 non-null  category
 24  Job Role Start Date                         238856 non-null  datetime64[ns]
 25  Job Role End Date                           5 non-null       datetime64[ns]
 26  JobRoleActiveInactive                       238856 non-null  category
 27  UserStatus                                  238856 non-null  category
 28  UserSubStatus                               238856 non-null  category
 29  Last Login Date                             231290 non-null  datetime64[ns]
 30  Franchise Country                           238856 non-null  category
 31  Distributor CI Code of Main Retailer        2525 non-null    category
 32  Franchise CI Code of Main Retailer          2609 non-null    category
 33  FranchiseCategory                           204540 non-null  category
 34  Address ID                                  217172 non-null  category
 35  Address Latitude                            216807 non-null  float64
 36  Address Longitude                           216807 non-null  float64
 37  APO Retailer                                217172 non-null  category
 38  Battery Electric Vehicle Sales              217172 non-null  category
 39  Distributor CI Code                         217172 non-null  category
 40  Franchise CI Code                           217172 non-null  category
 41  Franchise Status                            217172 non-null  category
 42  Franchise Trading Title                     217172 non-null  category
 43  Franchise Type                              217172 non-null  category
 44  IsMerged                                    238856 non-null  int64
 45  IsPrimary                                   238856 non-null  int64
 46  JLR Number                                  217172 non-null  category
 47  Plug-In Hybrid Electric Vehicle Sales       217172 non-null  category
 48  Retailer Group                              145274 non-null  category
 49  Service Traction Battery Repair Enabled     217172 non-null  category
 50  Service Traction Battery Repair Restricted  217172 non-null  category
 51  SVO                                         217172 non-null  category
dtypes: category(42), datetime64[ns](5), float64(3), int64(2)
memory usage: 48.7 MB

In [4]:
df.head()

,Brand,Business Region,Market,Sub Market,Country,CustomerServiceMapping,AddressIDExcellence,CI Code,Retailer Name,BusUnitType,...,Franchise Trading Title,Franchise Type,IsMerged,IsPrimary,JLR Number,Plug-In Hybrid Electric Vehicle Sales,Retailer Group,Service Traction Battery Repair Enabled,Service Traction Battery Repair Restricted,SVO
0,Jaguar,Central,Central,Central,Master Trainers,NaN,NaN,TRAIN96,Master Trainers Jaguar,Internal,...,NaN,NaN,0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,Jaguar,Central,Central,Central,Master Trainers,NaN,NaN,TRAIN96,Master Trainers Jaguar,Internal,...,NaN,NaN,0,1,NaN,NaN,NaN,NaN,NaN,NaN
2,Jaguar,Central,Central,Central,Master Trainers,NaN,NaN,TRAIN96,Master Trainers Jaguar,Internal,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,Jaguar,Central,Central,Central,Master Trainers,NaN,NaN,TRAIN96,Master Trainers Jaguar,Internal,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,Jaguar,Central,Central,Central,Master Trainers,NaN,NaN,TRAIN96,Master Trainers Jaguar,Internal,...,NaN,NaN,0,1,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
from itertools import count


df1 = df.groupby(["Market","CI Code","Job Role"]).count()(["PIN"])
df1.head()  #agg([count])

TypeError: 'DataFrame' object is not callable